.page-about {
  overflow-y: auto;

  .content-container {
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-content: center;

    .title-section {
      .content-title {
        padding: 0 10px;
        position: absolute;
        top: 0;
        transform: translate(0, -50%);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 200px;

        &.first-right {
          right: 0%;
        }

        &.right {
          right: 0%;
        }

        &.left {
          left: -25%;
        }
      }
    }

    .bloc-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .elt-content {
        // background-color: yellow;
        text-transform: none;
        font-size: 45px;
        width: 90%;

        .description-content {
          font-weight: 300;
        }
        h1 {
          font-size: 45px;
        }

      }
    }

  }

}
