.page-contact {
  overflow-y: auto;

  .big-container-choices {

    .container-choices-form {
      // overflow:hidden;
      height: 100vh;
      align-items: center;
      align-content: center;
      justify-content: center;

      #send-nudes {
        .elt-choice {
          div {
            &:hover {
              // color: #D93BFF;
            }

          }
        }

      }

      .container-choice {
        text-align: center;


        .elt-choice {
          min-width: 100vw;
          div {
            white-space: nowrap;
            line-height: 140px;
            color: rgba(255,255,255,.5);
            padding: 0 10%;
            background: none;
            font-size: 140px;
            font-style: oblique;
            font-weight: 600;

            &:hover {
              color: white;
              cursor: pointer;
            }
          }
        }
      }
    }

  }





}
