.page-contact {
  overflow-y: auto;

  .big-container-choices {
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;

    .container-choices-form {
      // overflow:hidden;

      .container-choice {
        text-align: center;

        .elt-choice {
          min-width: 100vw;
          div {
            white-space: nowrap;
            line-height: 140px;
            color: rgba(255,255,255,.5);
            padding: 0 10%;
            background: none;
            font-size: 140px;
            // text-transform: uppercase;
            font-style: oblique;
            font-weight: 600;
            // transition: all .3s ease-in-out;

            &:hover {
              // transition: all .3s ease-in-out;
              // background-color: white;
              color: white;
              cursor: pointer;
            }
          }
        }
      }
    }

  }





}
