.page-work {
  overflow-y: auto;

  .bloc-titre {
    width: 100vw;
    height: 70vh;

    .move-up-container {
      position: fixed;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);

      &.titre-clone {
        opacity: 0;
      }
    }
    .elt-titre {
      font-size: 50px;
      font-weight: 600;
    }
  }

  .bloc-work {
    // background-color: blue;
    align-items: center;
    justify-content: center;

    .col-work {
      margin-top: 80px;
      // background-color: grey;

      .elt-work {
        position: relative;
        margin: 80px auto;
        width: 100%;
        height: 35vh;
        background-color: #969696;
        background-position: center;
        background-size: cover;

        &.klein {
          // background-image: url(../images/projet1-klein.jpg);
        }

        &.words-cascade {
          // background-image: url(../images/words-cascade.jpg);
          // color: #969696;
        }
        &.word-reveal {
          // background-image: url(../images/word-reveal.jpg);
        }
        &.monologue-otis {
          // background-image: url(../images/monologue-otis.gif);
        }
        &.henri-mouraire {
          // background-image: url(../images/henri-mouraire.jpg);
        }

        .title-work {
          white-space: nowrap;
          position: absolute;
          top: 30%;
          right: 0;
          transform: translate(0%, -50%);
          opacity: 0;

          .tags-title {
            text-transform: none;
            font-weight: 600;
            font-size: 60px;
          }
          .tags {
            text-align: right;
            line-height: 10px;
            font-size: 14px;
            font-weight: 300;
          }
        }

        .moving-title-work {
          opacity: 0;
          white-space: nowrap;
          position: absolute;
          top: 50%;
          left: 50%;
          // transform: translate(-50%, -50%);
        }
      }

    }
  }







}
